
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Бронирование</title>
</head>
<body>
    <div>
        <h3>Форма бронирования</h3>
        @using (Html.BeginForm("Buy", "Home", FormMethod.Post))
        { 
            @Html.Hidden("RoomId", ViewBag.RoomId as string)
            <table>
                <tr>
                    <td><p>Введите свое имя:</p></td>
                    <td>
                        @Html.TextBox("Person")                    
                    </td>
                </tr>
                <tr>
                    <td><p>Введите дату заезда:</p></td>
                    <td>
                        @Html.TextBox("BookingBegin")
                    </td>
                </tr>
                <tr>
                    <td><p>Введите дату выезда:</p></td>
                    <td>
                        @Html.TextBox("BookingEnd")
                    </td>
                </tr>
                <tr><td>
                    <input type="submit" value="Отправить" />
                    </td><td></td></tr>
            </table>
        }
    </div>
</body>
</html>