@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Бронирование</title>
</head>
<body>
    <div>
        <h3>Форма бронирования</h3>
        <form method="post" action="">
            <input type="hidden" value="@ViewBag.RoomId" name="RoomId" />
            <table>
                <tr>
                    <td><p>Введите свое имя:</p></td>
                    <td><input type="text" name="Person" /></td>
                </tr>
                <tr>
                    <td><p>Введите дату заезда:</p></td>
                    <td>
                        <input type="date" name="BookingBegin" />
                    </td>
                </tr>
                <tr>
                    <td><p>Введите дату выезда:</p></td>
                    <td>
                        <input type="date" name="BookingEnd" />
                    </td>
                </tr>
                <tr><td><input type="submit" value="Отправить" /></td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>